<h1 class="pa">My stupid Question</h1>
<div class="container text-center co">
  <form action="/questions_controller/ask" method="get" class="co">
    <input type="text" name="question_type" placeholder="What is your question?">
    <input type="submit" class="btn btn-primary">
  </form>
</div>
